---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import NewsletterForm from '../../components/NewsletterForm.astro';
import generateUrl from "@utils/url";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const githubBlogContributionBaseUrl = import.meta.env.GITHUB_BLOG_CONTRIBUTION_BASE_URL;

const breadcrumbItems = [
  { label: 'Blog', href: generateUrl('/blog') },
  { label: post.data.title }
];
---

<Layout title={`${post.data.title} - Fabien Salles`} description={post.data.description}>
  <div class="container max-w-3xl mx-auto px-4 py-12">
    <Breadcrumb items={breadcrumbItems} />
    
    <article>
      <header class="mb-8">
        <h1 class="text-4xl font-bold mb-4">{post.data.title}</h1>
        <div class="flex gap-2 text-gray-600">
          <time datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toLocaleDateString('fr-FR', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
          </time>
          • 
          <div class="flex gap-2">
            {post.data.categories.map(category => (
              <a
                href={generateUrl(`/blog/categories/${category.toLowerCase().replace(/ /g, '-')}`)}
                class="hover:text-blue-600 transition-colors"
              >
                {category}
              </a>
            ))}
          </div>
        </div>
      </header>

      <div class="prose prose-lg">
        <Content />
      </div>
      <footer class="mt-12 text-gray-600">
        <div class="flex flex-col gap-4 pb-8">
          <a href={post.data.linkedinPostUrl} class="inline-flex items-center gap-2 px-4 py-2 bg-[#0A66C2] text-white rounded-lg hover:bg-[#004182] transition-colors duration-300" target="_blank" rel="noopener noreferrer">
            <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
            <span>Continuer la discussion sur LinkedIn</span>
            <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
            </svg>
          </a>
        </div>
        <div class="flex flex-col gap-4 pt-8 border-t">
            <p>
                Vous avez repéré une erreur ?{' '}
                <a href={githubBlogContributionBaseUrl + post.id} class="text-blue-600 hover:text-blue-800 transition-colors" target="_blank" rel="noopener noreferrer">
                    Contribuez au post sur GitHub
                </a>
            </p>
        </div>
      </footer>
    </article>

    <NewsletterForm />
  </div>
</Layout>