---
import Layout from '../layouts/Layout.astro';

const title = "Mes clients - Fabien Salles";
const description = "Les entreprises avec qui j'ai travaillé";
const clients = [
  {name: "Hermes", logo: "/images/clients/hermes.png"},
  {name: "Eres", logo: "/images/clients/eres.png"},
  {name: "Amundi", logo: "/images/clients/amundi.png"},
  {name: "Pledg", logo: "/images/clients/pledg.png"},
  {name: "plum-kitchen", logo: "/images/clients/plum-kitchen.png"},
  {name: "Clever-Age", logo: "/images/clients/clever-age.png"},
  {name: "Japan-experience", logo: "/images/clients/japan-experience.png"},
  {name: "Orsys", logo: "/images/clients/orsys.png"},
  {name: "LVMH", logo: "/images/clients/lvmh.png"},
  {name: "Jardiland", logo: "/images/clients/jardiland.png"},
  {name: "Chaumet", logo: "/images/clients/chaumet.png"},
  {name: "MB Expansion", logo: "/images/clients/mb-expansion.png"},
  {name: "DFS", logo: "/images/clients/dfs.png"},
  {name: "Dismo", logo: "/images/clients/dismo.jpg"},
  {name: "Jacadi", logo: "/images/clients/jacadi.jpg"},
  {name: "Dior", logo: "/images/clients/dior.png"},
  {name: "Aramis Auto", logo: "/images/clients/aramis-auto.png"},
  {name: "Wolkswagen", logo: "/images/clients/wolkswagen.png"},
  {name: "Total", logo: "/images/clients/total.png"},
  {name: "RATP", logo: "/images/clients/ratp.png"},
  {name: "We-cook", logo: "/images/clients/wecook.png"},
  {name: "meteo-consult", logo: "/images/clients/meteo-consult.png"}
];
---
<Layout title={title} description={description}>
  <section class="pt-20">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-12 text-center">{description}</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
        {clients.map(client => (
          <div class="flex items-center justify-center p-4 bg-gray-50 rounded-lg hover:shadow-lg transition-all duration-300">
            <img
              src={client.logo}
              alt={client.name}
              class="max-w-full h-auto"
            />
          </div>
        ))}
      </div>
    </div>
  </section>
</Layout>